.content {
  margin-top: 100px;
  background-color: #F2F3F4;
  padding-top: 30px;
  padding-bottom: 30px;
}


.newarrival {
  background: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;

}


.stars {
  height: 15px;

}

#ProductName {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 30px;

}

#ProductPrice {
  color: #FE980F;
  font-size: 26px;
  font-weight: bold;
  background: transparent;
  border: none;
}

#ProductCategory {
  background: transparent;
  border: none;
  font-size:14px;
}

#ProductStatus {
  background: transparent;
  border: none;
  font-size:14px;
}

#ProductBrand {
  background:  transparent;
  border:  none;
  font-size:  14px;
}

#pName {
display: block;
word-wrap:break-word;
width: 400px;
white-space: normal;
font-weight: bold;
font-size: 30px;
}

#pDesc {
display: block;
word-wrap:break-word;
width: 450px;
white-space: normal;
font-size: 15px;
}

input[type=number] {
  border: 1px solid #ccc;
  font-weight: bold;
  height:37px;
  text-align: center;
  width:50px;

}


.alignline {
  padding-top: 1px;
}

#addCart {
  margin-left: 20px;
  margin-top: 5px;
}

.category {
  padding-bottom: 15px;
  font-size: 16px;
}

.price {
  color: #FE980F;
  font-size: 26px;
  font-weight: bold;
  padding-top: 1px;

}

.left {
    font-weight: bold;
    font-size: 16px;
}

.alignline p{
    display: inline;
}

.clear-float p{
  float: left;
  margin: 4px 0;
  padding-right: 15px;
}
.clear-float input{
  float: left;
  margin: 4px 0;
}
.clear-float{
  clear: both;
  margin-bottom: 40px;
}
