body {
  background: white;
  font: normal 300 18px "Roboto", sans-serif;
}

#menu-nav {

  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar li {
  float: left;
  width: 12%;
}
#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: pink;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #e74c3c;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}
#navigation-bar span {
  display: block;
}

#topnav-right {
  float: right;
  margin-right : 10px;
}

form {
  width: 90%;
  margin: 10px auto;
}

input {
  width: 100%;
  padding: 10px 5%;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e74c3c;
  font: normal 300 18px "Roboto", sans-serif;
  color: #888;
  transition: box-shadow 0.5s ease;
}
input:focus, input:active {
  box-shadow: 0 0 10px #e74c3c;
}



.carousel-item {
  height: 65px;
  min-height: 500px;
  background: no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color : black;
}
h3{
	font-weight: 700;
	font-size: 2.0em;
}


.why{
	text-align: center;
}

.navbar-brand{
	display: absolute;
}

/*Language*/
/*Language Button*/

.roundborders {
	border-radius: 5px;
}

.large:hover {
	/* 
	don't forget the 1px border!
	The first language is 40px heigh, 
	the others are 41px
	*/
	height: 245px;
}

/*3 Column*/

.column3 {
    float: left;
    width: 33.33%;
    padding: 10px;
	text-align: left;
}

.column2 {
    float: left;
    width: 33.33%;
    padding: 10px;
	text-align: center;
}

.column1 {
    float: right;
    width: 33.33%;
    padding: 10px;
	text-align: right;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}

